<%= form_with model: @category, url: categories_path do |form| %>
  <% if @category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% @category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :icon, style: "display: block" %>
    <ul class="icon-container">
      <% @icons.each do |icon| %>
        <li class="icon-list">
          <label class='icon-label'>
            <%= form.radio_button :icon, "icons/#{icon}", autofocus: true, required: true %>
            <%= image_tag "icons/#{icon}", class: 'icon-img' %>
          </label>
        </li>
      <% end %>
    </ul>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
