<%= render'navbar/new'%>

<p style="color: green"><%= notice %></p>

  <%= link_to 'Back', categories_path %>

<div class='container'>
<%= render @category%>
 <ul class='list-unstyled'>
    <% @category_expense.each do |catexp| %>
      <li class="border border-primary rounded px-4 py-2 my-2">
        <div>
          <strong>Name: <%= catexp.expense.name %></strong>
        </div>
        
        <div>
          <strong>Created at: <%= catexp.created_at %></strong>
        
        </div>
        
        <strong>Amount: $<%= catexp.expense.amount %></strong>
      </li>
    <% end %>
  </ul>
  <div class="d-flex justify-content-between">
    <h1>Total Amount:</h1>
    <h1>$<%= @total_amt %></h1>
  </div>
</div>

<div class='footer'>
<%= link_to "Add Expense", new_category_expense_path(@category.id), class: "footer-btn btn form-control text-white"%>
</div>
